*{
   margin: 0%;
   padding: 0%; 
   box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    
}

/* .gradient{
   color:  linear-gradient(112deg, #06B7DB -63.59%, #FF4ECD -20.3%, #0072F5 70.46%);
} */

.font-merienda{
   font-family: 'Merienda', cursive;
}
.font-comfortaa{
   font-family: 'Comfortaa', cursive;
}
.font-modern{
   font-family: 'Source Sans Pro', sans-serif;
}

.bg-lpurple{
   background-color: #6153e188;
}
.welcome{
   border: 1px solid rgb(98, 0, 255);
   border-radius: 5px;

}

.bn632-hover {
   width: 49%;
   font-size: 16px;
   font-weight: 600;
   color: #fff;
   cursor: pointer;
   margin: 0px;
   height: 55px;
   text-align: center;
   border: none;
   background-size: 300% 100%;
   border-radius: 50px;
   -o-transition: all 0.4s ease-in-out;
   -webkit-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
 }
 
 .bn632-hover:hover {
   background-position: 100% 0;
   -moz-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
 }
 
 .bn632-hover:focus {
   outline: none;
 }
 
 .bn632-hover.bn24 {
   background-image: linear-gradient(
       to right,
       #6253e1,
       #852d91,
       #a3a1ff,
       #f24645
     );
   box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
 }